body {
    background-color: #f7f7f7;
}


/* 公共样式 */

.red {
    color: #cf4444;
}

.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

h5 {
    display: inline;
}


/* 主题内容 */

.main {
    /* 80:为了不被底部的盒子盖住 */
    padding: 12px 11px 80px;
}


/* 用户信息 */

.userMSG {
    padding: 15px 0;
    display: flex;
    align-items: center;
    /* justify-content: ; */
}


/* 地址图标 */

.location {
    margin: 0 11px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: linear-gradient( 90deg, #6fc2aa 5%, #54b196 100%);
    text-align: center;
    line-height: 30px;
    /* vertical-align: middle; */
}

.location .iconfont {
    font-size: 17px;
    color: #fff;
}


/* 用户地址信息 */

.userINFO {
    flex: 1;
}

.userINFO .name h5 {
    /* display: inline; */
    font-weight: normal;
    color: #333333;
    font-size: 16px;
    margin-right: 10px;
}

.userINFO span {
    font-size: 12px;
    color: #333333;
}

.userINFO .address {
    line-height: 1;
    /* margin-top: 12px; */
}


/* 用户信息箭头 */

.userMSG .more {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.userMSG .more .iconfont {
    font-size: 12px;
    color: #808080;
}


/* 订单信息 */

.order {
    display: flex;
}


/* 底部支付 */

.pay {
    position: fixed;
    padding: 0 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    height: 80px;
    background-color: #fff;
    border-top: 1px solid #ededed;
}

.pay .price {
    /* display: inline; */
    line-height: 30px;
    font-size: 12px;
    color: #1e1e1e;
    line-height: 30px;
}

.pay .price i {
    display: inline-block;
    /* vertical-align: middle; */
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
}

.pay .price span {
    display: inline-block;
    content: '￥';
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.pay .button a {
    display: block;
    width: 90px;
    height: 35px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 13px;
    color: #fff;
}


/* 订单信息 */

.order {
    display: flex;
    align-items: center;
}


/* 订单图片 */

.goodPic {
    padding: 11px;
}

.goodPic img {
    height: 100%;
    margin-right: 11px;
}


/* 商品名称 */

.orderDetail .goodNameNum {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goodNameNum .goodName {
    flex: 1;
    height: 32px;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #262626;
    overflow: hidden;
}

.goodNameNum .goodNum {
    /* margin: 0 17px; */
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: ;
}

.orderDetail .goodTag span {
    display: inline-block;
    padding: 0 5px;
    line-height: 16px;
    font-size: 12px;
    color: #888888;
    border-radius: 2px;
    background-color: #f7f7f7;
}


/* .orderDetail {} */

.orderDetail .goodPrice span {
    font-size: 10px;
    font-weight: normal;
    vertical-align: middle;
}

.orderDetail .goodPrice span:first-child {
    color: #cf4444;
}

.orderDetail .goodPrice span:last-child {
    text-decoration: line-through;
    color: #999999;
}

.orderDetail .goodPrice h5 {
    font-size: 16px;
}

.orderDetail .goodPrice i {
    font-size: 12px;
}


/* 物流信息 */

.attach {
    padding: 14px;
}

.attach li {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attach li:last-child {
    margin-bottom: 0;
}

.attach li div {
    font-size: 14px;
}

.attach li div span {
    font-size: 14px;
    line-height: 1;
    color: #262626;
    /* vertical-align: top; */
}

.attach li div span.remark {
    font-size: 12px;
    color: #999999;
    margin-left: 20px;
}

.attach li i {
    font-size: 14px;
    color: #808080;
}

.priceDetail .red span {
    color: #cf4444;
}